

:root{
    --general-colorTextwhite: #ffff;
    --secondary-colorText: #ffffff00;
    --background-colorwhite: #ffff;
}
html {
    box-sizing: border-box;
    font-size: 1rem;
    position: static;
    z-index: 999;
    font-family: 'Barlow', sans-serif !important;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

article{
    padding: 0;
    /* display: inline-block; */
}
img{
    
    height:auto;
    width:100%;
    
}
.images{

    height: 100%;
    margin: 0 auto;    
    width: 100%;
    font-family: 'Fraunces', serif;
}
.images2-cereza{
    object-fit: cover;
    
}
svg ,.footer-options
{
    cursor: pointer;
}

main>article{
height: auto;
margin: 0 auto;     
width: 100%;
font-family: 'Fraunces', serif !important;

justify-content: center;


}
.backG-clients{
    background-color: white;
}






.header-mobile{
        display: flex ;
        justify-content: space-around;
        width: 100%;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
.options{
    display: flex;
    align-items: center;
}
.options-position{
    
    
    padding: 0 1.3rem;
    
  }
.contact-style{
    /* display: flex;
    align-items: center; */
    border-radius: 3.4rem;
    /* padding: 20%; */
    padding: 1.2rem 2rem;
    background-color: white;
    color: black !important;
    font-family: 'Lora', serif;
    font-weight: 900;

}
.title-sunnyside-style{
    font-size: 2rem !important;
    display: flex;
    align-items: center !important;
    font-weight: 900 !important;
    font-family: 'Lato', sans-serif;
}
.hamburger-box{
    width: 13px !important;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    width: 23px !important;
    height: 3px !important;
    
    background-color: rgb(255, 252, 252) !important;
    
    
}

.nav-styles{
    /* border: solid 1px red; */
    width: 95%;
    margin: 1rem auto;
    height: auto;
    box-sizing: border-box;
    background-color:rgb(61, 190, 355);
    
    
}
.box-button{
    display: flex;
    align-items: center;
}
.group-mobile{
    display: flex;
    align-items: center;
}
.header-mobile{
    border: solid 1px rgba(255, 0, 0, 0);
}


.nav-styles-mobile{
    display: none;
}
.title-header-mobile{
    display: none;
}
  .item {
    color: rgb(355, 355, 355);
    
    font-size: 1rem;
   
    cursor: pointer;
    font-weight: 600;
    
  }
  
  .group-options .item:hover{
      background-color: white;
      color: black;
      border-radius: 10rem;
      transition: .3s ease-in-out;
    }
    .group-options .item:not(hover){
        transition: .3s ease-in-out;
        
  }









body{    
    background-color: rgb(61, 190, 355) !important;
    margin: 0;
    font-size: 1rem;
    
}
p{
    
    display: block;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end:0 ;
    margin-inline-start: 0;
}
h1, h3, h3{
    margin: 0 ;
    color: var(--general-colorText) ;
    
}


div{
    display: block;
}
h1{
    padding: 1rem;
    text-transform: lowercase;
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: 10vh;
    color: var(--general-colorTextwhite);
    
}

iframe{
    
    height:auto;
    width:100%;
}



/* ESTILOS DE BARRA NAVEGACION */
/* 
*/
h6{
    font-size: .9rem;
    filter: opacity(60%);
    margin: 0;
}

.title-header-desk{
    margin: 5rem auto ;
    font-size: 3rem;
    font-family: 'Fraunces', serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color:var(--general-colorTextwhite);
    letter-spacing: .3rem;
}

.article-text__transform-graphicD{
    position: relative;
    
}
.pos-relative-photo{
    position: relative;
}
.center-section-stand >*{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: absolute; */
    text-align: center;

}
.center-section-photo{
    position:absolute;
    top: 50%;
   

}
.center-section-photo >*{

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.center-section-graph >*{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.center-section-graph {
    display:block;
    position: absolute;
    top: 50%;
}
.article-text__transform p{
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
.article-text__transform{
    padding: 0;
    background-color: var(--background-colorwhite);
    
}
.info-photo{
    margin: 0;
}
.article-text__transform>*{
    margin: 2px;
    text-align: center;
    
}
.article-text__transform p{
    margin-top: 2rem;
    height: 4rem;
    

}
/* text Learn more */
.image-transf-styles{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.learn-more-style-yellow{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-decoration: underline yellow .3rem;
}
.learn-more-style-orange{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-decoration: underline rgb(240, 114, 12) .3rem;
}
.title-transfor__style{
    font-family: 'Fraunces', serif;
    font-size: 3rem;
}



.thank-peapole__style,.thank-peapole__style>* {
    text-align: center;
    padding: 1rem;
    background-color: var(--background-colorwhite);
}
.images-people__styles{
    width: 10rem;
    height: auto;
    object-fit: cover;
    border-radius: 10rem;
    
}

.fotter-img-article{
    display: grid;
    /* grid-template-columns: repeat(3, 50%); */
    grid-template-columns: repeat(auto-fit,minmax(8rem, 1fr));
    width: 100%;
    
} 

.img-fotter{
    width:100%;
    height: auto;
    max-height:50vh;
}
.article-fotter{
    /* margin-bottom: 3rem; */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(144, 313, 197);
}

.fotter-options__style {
    margin-left: auto;
    margin-right:auto ;
    color: rgb(56, 53, 53);
    font-weight: 900;
    font-size: 3rem;
}
.article-fotter:last-child div {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.apps-menu__style{
    margin-top: 4rem;    
    background-color: rgb(144, 313, 197);
}
 .apps-menu__style svg{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    
} 
.peaple-resp-desing{
   
    display: grid;
    justify-content: center;    
    grid-template-columns: 100%;
    
    height: auto;
    
}

h3{
    color: rgb(168,169, 171);
    font-family: 'Fraunces', serif;
    
}