

/* este ancho va a tener un maximo de 600px hasta que se desactive */
/* version mobile */
@media screen and (max-width: 600px ) {
    
    
    .nav-styles{
        display: none;
    }
    .nav-styles-mobile{
        display: flex ;
        width: 100%;
        margin: 2rem auto;
        
    }
    .title-header-desk{
        display: none;
    }
    .title-header-mobile{
        width: fit-content;
        margin: 5rem auto ;
        font-size: 3rem;
        font-family: 'Fraunces', serif;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        color:var(--general-colorTextwhite);
        letter-spacing: .3rem;
    }
    
    .client-tes-desk{
        display: none;
    }
    
    
    
    
    .fotter-img-article{
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        
    }
    
    
    
    
}

@media screen and (max-width: 340px ) {
    .title-header-mobile{
        font-size: 2rem;
    }
    .title-transfor__style{
        font-size: 2rem;
    }
    .title-sunnyside-style{
    font-size: 1.4rem !important;
    
}
}


@media screen and (min-width: 1200px ) {

    
    .peaple-resp-desing{

        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
}
/* si se achica mas de este ancho, se desactivan estos valores */
@media screen and (min-width: 660px ) {
    
   .hamburger{
        display: none !important;
    }
    .article-header-Tran-your-brand{
        display: grid;
        grid-template-columns: repeat(2, 50%) ;
    }
    .article-header-Tran-your-brand .images{
        order: 2;
    }
    .article-header-Tran-your-brand > article{
        order: 1;
    }

    .article-header-Tran-your-brand2{
        display: grid;
        grid-template-columns:  repeat(2, 50%) ;
    }
}
@media screen and (min-width: 600px ) {
    
    
   
  
    .fotter-img-article{
        width: 100%;
        height: auto;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 30%;
        
    }
}

@media screen and (min-width:600px ) {
    
   
    
   
    .grid-responsive-grapgicAndPhoto{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .article-fotter:last-child div {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }
    .apps-menu__style svg{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }
    
    .client-tes-desk{
        text-align: center;
        background-color: var(--background-colorwhite);
    }
    .client-tes-mobile{
        display: none;
    }
    .peaple-resp-desing{
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 100%;
    }
    .images-pomelo-header-big{
        display: none;
        width: 100%;
        
    } 
    .images-pomelo-header-small{
        display: inline;
        width: 100%;
        
        
    } 
    
}

@media screen and (max-width:930px ) {
    .group-options .item{
        display: none;
    }

   
    
   
}
/* aparece el boton */

@media screen and (max-width:600px ) {
   
   
    
    .images2{
        display: none !important;
        
    } 
    .images2{
        display:inline-flex !important;
        object-fit:cover;
        
        background-size:cover ;
        background-position: top;
        background-repeat: no-repeat;
        height:36rem;
        /* object-fit: fill;
        object-position: bottom; */
    } 
    
    .images-pomelo-header-big{
        display: inline-block;
        margin-left: auto;
        margin-right:auto ;
        width: 100%;
        
        
    } 
    .images-pomelo-header-small{
        display: none;
        width: 100%;
        
    } 
}